name: CI Build

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ci.yaml'
      - 'assets/conf/**'
      - 'Dockerfile'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  DOCKER_BUILDX_VERSION: "0.31.1"
  DOCKER_BUILDKIT_VERSION: "0.27.1"
  # Versions
  # These versions should be kept in sync with the ones in Dockerfile.
  FREENGINX_VERSION: "1.29.4"
  FREENGINX_SUB_VERSION: "1"
  OPENSSL_VERSION: "3.6.1"
  PCRE_VERSION: "10.47"
  ZLIB_COMMIT: "12731092979c6d07f42da27da673a9f6c7b13586"
  BROTLI_COMMIT: "a71f9312c2deb28875acc7bacfdd5695a111aa53"
  NGX_FANCYINDEX_COMMIT: "cbc0d3fca4f06414612de441399393d4b3bbb315"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v${{ env.DOCKER_BUILDX_VERSION }}
          driver-opts: image=moby/buildkit:v${{ env.DOCKER_BUILDKIT_VERSION }}-rootless

      - name: Generate build date
        id: date
        run: |
          echo "IMAGE_BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
          echo "IMAGE_VCS_REF=$(git rev-parse --short=8 HEAD)" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
          DOCKER_BUILD_CHECKS_ANNOTATIONS: false
          DOCKER_CONTENT_TRUST: 1
        with:
          provenance: false
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.FREENGINX_VERSION }}-b${{ env.FREENGINX_SUB_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            IMAGE_BUILD_DATE=${{ env.IMAGE_BUILD_DATE }}
            IMAGE_VCS_REF=${{ env.IMAGE_VCS_REF }}
            FREENGINX_VERSION=${{ env.FREENGINX_VERSION }}
            FREENGINX_SUB_VERSION=${{ env.FREENGINX_SUB_VERSION }}
            OPENSSL_VERSION=${{ env.OPENSSL_VERSION }}
            PCRE_VERSION=${{ env.PCRE_VERSION }}
            ZLIB_COMMIT=${{ env.ZLIB_COMMIT }}
            BROTLI_COMMIT=${{ env.BROTLI_COMMIT }}
            NGX_FANCYINDEX_COMMIT=${{ env.NGX_FANCYINDEX_COMMIT }}
